.hangman-background {
  @apply flex flex-col items-center justify-center  bg-center;
}

.game-container {
  @apply flex flex-col items-center justify-center  rounded-xl text-center mt-32;
  background: linear-gradient(
    180deg,
    rgba(52, 74, 186, 0.8),
    rgba(0, 20, 121, 0.8)
  );
  border-radius: 72px;
  box-shadow: inset 0 -8px 0 4px #140e66, inset 0 6px 0 9px #2463ff;
  --y: -75vh;
  --time-scale: 3;
  max-width: 600px;
  width: 100%;
  height: 400px;
}

.hangman-title {
  @apply text-8xl font-bold;
  background: linear-gradient(180deg, hsl(209, 100%, 70%), #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px #243041;
  text-align: center;
  top: -29%;
}

.hangman-title .sub {
  @apply mb-0;
  background: linear-gradient(180deg, hsl(209, 100%, 70%), #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.5px #243041;
}

.play-button {
  @apply flex items-center justify-center w-24 h-24  cursor-pointer transition-transform duration-300 mb-4;
  background: linear-gradient(180deg, #ff7eb3, #679dae);
  border-radius: 50%;
  border: none;
  box-shadow: inset 0 -5px 0 2px #9d2df5, 0 3px 0 2px #243041;
  --y: -50vh;
  --time-scale: 2;
}

.play-button:hover {
  @apply scale-110;
  box-shadow: inset 0 -5px 0 2px #9d2df5, 0 3px 0 2px #243041;
}

.hangman-button {
  @apply text-white font-bold py-3 px-8 rounded-3xl transition-colors duration-300 cursor-pointer;
  background-color: #2463ff;
  text-transform: uppercase;
  border: none;
  box-shadow: inset 0 -5px 0 2px #140e66;
  --y: -50vh;
  --time-scale: 2;
}

.play-button img {
  @apply w-9 h-9;
}

@media (max-width: 840px) {
  .game-container {
    @apply p-6;
    max-width: 450px;
  }

  .hangman-title {
    @apply text-6xl;
    top: -23%;
  }

  .hangman-title .sub {
    @apply text-4xl;
  }

  .play-button {
    @apply w-20 h-20 md:w-24 md:h-24;
  }

  .play-button img {
    @apply w-10 h-10;
  }

  .hangman-button {
    @apply py-1 px-3;
  }
  .logo {
    width: 95%;
  }
  .hangman-background {
    @apply mt-0;
  }
}

@media (max-width: 480px) {
  .game-container {
    @apply p-4;
    max-width: 250px;
  }

  .hangman-title {
    @apply text-5xl;
    -webkit-text-stroke: 1.5px #243041;
    top: -11%;
  }

  .hangman-title .sub {
    @apply text-3xl;
  }

  .play-button {
    @apply w-20 h-20;
  }

  .play-button img {
    @apply w-10 h-10;
  }

  .hangman-button {
    @apply py-3 px-5 text-xl;
  }
  .logo {
    width: 68%;
    @apply ml-12;
  }
  .hangman-background {
    @apply mt-0;
  }
}
