.pick-category {
  @apply flex flex-col justify-center items-center p-5;
}

.back-button {
  @apply cursor-pointer;
  background: linear-gradient(180deg, #ff7eb3, #679dae);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  box-shadow: inset 0 -5px 0 2px #9d2df5, 0 3px 0 2px #243041;
  --y: -50vh;
  --time-scale: 2;
}

.back-button img {
  @apply w-6 h-6;
}
.category-title {
  @apply text-8xl mb-6 font-bold;
  background: linear-gradient(180deg, #67b6ff, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px #243041;
}
.category-list {
  @apply justify-center gap-7 mt-12 list-none  w-4/5 grid-cols-3;
}

.category-item {
  @apply w-9/12 h-20 flex  justify-center items-center text-white  text-2xl  py-4 px-3 rounded-xl cursor-pointer transition-all duration-300;
  background-color: #2463ff;
  background: linear-gradient(rgb(52, 74, 186, 0.9), rgb(0, 20, 121, 0.9));
  box-shadow: inset 0 -4px 1px 0 #140e66, inset 0 2px 0 2px #2463ff;
  --y: -75vh;
  --time-scale: 3;
}

.category-item:hover {
  @apply transform scale-105;
  background-color: #5b8aff;
}
@media (max-width: 840px) {
  .category-title {
    @apply text-8xl;
    -webkit-text-stroke: 2px #243041;
  }

  .category-item {
    @apply text-4xl py-3 px-5 h-24 items-center justify-center flex;
  }
  .category-list {
    @apply grid-cols-2 gap-10 mt-20;
  }
}

@media (max-width: 480px) {
  .category-title {
    @apply text-5xl;
    -webkit-text-stroke: 1px #243041;
  }

  .category-item {
    @apply text-2xl py-2 px-4 h-8;
  }
  .category-list {
    @apply grid-cols-1 gap-5 mt-10;
  }
}
