<div
  class="pick-category flex flex-col ">
  <div class="flex w-4/5 mb-6 justify-between main-top">
    <button class="back-button " routerLink="/">
      <img src="/assets/images/icon-back.svg" alt="Back">
    </button>
    <h2 class="category-title">Pick a Category</h2>
    <div></div>
  </div>
  <ul class="category-list grid grid-cols-3 justify-center">
    <li class="category-item" *ngFor="let category of categories"
      (click)="selectCategory(category)">
      {{ category | uppercase }}
    </li>
  </ul>
</div>
