/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Mouse Memoirs", sans-serif;
  background-image: url("/assets/images/background-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

@media (max-width: 840px) {
  body {
    background-image: url("/assets/images/background-tablet.svg");
  }
}

@media (max-width: 480px) {
  Body {
    background-image: url("/assets/images/background-mobile.svg");
  }
}
